body {
   background-color: #fdeec6;
   margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #192d47;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #47734c;
}

.active {
  background-color: #215560;
}

div {
  margin: 20px;
}

.heading{
    font-family: 'Roboto', sans-serif;
    
}

.subheading{
    font-family: 'Mate';
    font-size: 25px;
    font-style: italic;
    font-variant: normal;
    font-weight: 50;
    line-height: 27.5px;
}

.text{
    font-family: 'Hind Madurai', sans-serif;
}